/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
};

&sk {
    release-after-ms = <2000>;
    quick-release;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
            layers = <0>;
        };

        combo_ent {
            timeout-ms = <20>;
            key-positions = <18 19>;
            bindings = <&kp RET>;
            layers = <0>;
        };

        rshift {
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&kp RSHIFT>;
        };

        del {
            timeout-ms = <20>;
            key-positions = <8 9>;
            bindings = <&mt DELETE BACKSPACE>;
            layers = <0>;
        };

        lshift {
            bindings = <&kp LSHIFT>;
            key-positions = <20 21>;
            timeout-ms = <50>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
            timeout-ms = <50>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hs: homerow_shifts {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_SHIFTS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        NEW_LAYER {
            bindings = <
&mt GRAVE Q  &kp W       &kp F                   &kp P      &kp B  &kp J  &kp L  &kp U                    &mt LEFT_BRACKET Y  &mt RIGHT_BRACKET SEMI
&mt CAPS A   &kp R       &kp S                   &kp T      &kp G  &kp M  &kp N  &kp E                    &kp I               &mt SQT O
&mt LCTRL X  &mt LALT C  &kp D                   &kp V      &kp Z  &kp K  &kp H  &kp COMMA                &kp DOT             &mt BACKSLASH FSLH
                         &mt LEFT_COMMAND SPACE  &kp GLOBE                &to 1  &mt RIGHT_COMMAND SPACE
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans      &trans  &trans  &trans  &trans      &trans      &trans  &trans
&trans  &trans  &trans      &trans  &trans  &trans  &trans      &trans      &trans  &trans
&trans  &trans  &trans      &trans  &trans  &trans  &trans      &trans      &trans  &trans
                &bt BT_PRV  &to 0                   &bt BT_CLR  &bt BT_NXT
            >;
        };
    };
};
